# Configurações do .NET Core
**/[Bb]in/
**/[Oo]bj/
**/.vs/

# Arquivos de configuração específicos (excluindo appsettings)
appsettings.json
appsettings.Development.json

# Rider (JetBrains)

**/.idea/
*.sln.im

# Visual Studio
*.user
*.suo
*.userprefs
*.vsp
*.vssscc
*.pidb
*.ncb

# Outros arquivos de IDE
**/.vsconfig
**/.vscode/

# Dependências do NuGet
**/[Nn]uget.exe
**/packages/
*.nupkg
**/nuget.config

# Arquivos temporários
*.cache
*.log
*.tmp

# Ferramentas locais
.dotnet/

# Compilação e publish
**/publish/
**/wwwroot/

# Azure
*.pubxml
*.publishsettings

# macOS
.DS_Store

CWindowsSystem32cmd.exe.txt